
    

.box1{
    min-height: 80px;
    /* background-color: antiquewhite; */
}
.sec2{
    min-height: 650px;
    background: linear-gradient(rgb(120, 61, 192),rgba(232, 145, 151, 0.98));
     text-align: center; 
}
.emptybox{
    min-height: 250px;
    /* background-color: aqua; */
    width: 200px;
    margin-top: 80px;
}
.photo-box{
    min-height: 250px;
    width: 200px;
    background-color: rgb(222, 130, 17);
     display: inline-block; 
    margin-top: 80px;
    
    }
.icon{
    padding: 10px;
    font-size: 20px;
    color: black;
    }
.icon:hover{
    color:black;
   background-color: aliceblue;
   border-radius: 10px;
}
.my-name{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
   
}
.career{
   font-size: 25px;
   font-family: Italic Bold; 
  color: aliceblue;
}
.about-me{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    display: inline-block;
 
}
.about-me:hover{
    color: black;
    background-color: aliceblue;
}
.sec3{
     min-height: 800px;
    background-color: whitesmoke;
}
.box3{
    min-height: 300px;
    margin-top: 50px;
    /* background-color: bisque; */

}
.box4{
    min-height: 300px;
    margin-top: 50PX;
    /* background-color: aqua; */
}
.line1{
    height: 2px;
    width: 150px;
    background-color: black;
}
.line2{
    height: 2px;
    width: 150px;
    background-color: black;
}
.bio{
    color: rgb(157, 54, 230) ;
    font-family: felix titling;
}
.para1{
    margin-top: 30px;
}
.skill-box{
    min-height: 70px;
    /* background-color: rgb(121, 182, 121); */
}
.skills{
    color:rgb(157, 54, 230) ;
    font-family: felix titling;
    margin-top: 10px;
    display: inline-block;
}
.line3{
    height: 2px;
    width: 340px;
    background-color: black;
}
.html-box{
    
    /* background-color: bisque; */
    
}
.html{
     margin-top: 30px; 
    margin-left: 20px;
    padding: 8px;
}
  .percentage{
     margin-top: 30px; 
   display: inline-block;
  
    text-align: center;
} 
 
.navbar-brand{
    background-color:black;
    border: 1px solid plum;
    padding: 10px;
    font-family: Script MT;
    font-size: 30px!important;
}
.navbar-brand:hover{
    color: black;
    background-color: purple;
}
.navbar{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Bold Oblique;
    /* background-color:black; */
   
    padding: 10px;  
}
.navbar:hover{
    color: black;
    /* background-color: purple;  */
}
.project-box{
    min-height:500px ;
    /* background-color: darksalmon; */
    margin-top: 20px;
}
.pro{
    color:rgb(157, 54, 230) ;
    font-family: felix titling;
}
.line4{
    height: 2px;
    width: 250px;
    background-color: black;
}
.line5{
    height: 2px;
    width: 170px;
    background-color: black;
}
.diamond{
    margin-left: 10px;
}
.diamond-box{
    margin-top: 30px;
}
.school-box{
    margin-top: 30px;
}
.image-box1{

    min-height: 80px;
/* background-color: aqua; */
    margin-top: 30px;
}
.image-box2{
    min-height: 80px;
    /* background-color: aqua; */
    margin-top: 30px;
}
.image-box3{
    min-height: 80px;
    /* background-color: aqua; */
    margin-top: 30px;
}
.image-box4{
    min-height: 80px;
    /* background-color: aqua; */
    margin-top: 30px;
}
.letter-box{
    min-height: 30px;
    /* background-color: antiquewhite; */
    margin-top: 30px;
}
.design-box{
    margin-top: 30px;
}
.my-design{
    font-family: Georgia, 'Times New Roman', Times, serif;
}